@media (max-width: 768px) {
    
    body {
        margin:10px;
    }
    
    div.connect-box, div.lobby-box {
       width:100%; 
    }
    
    div.users-container {
        width:100%;
    }
}

@media (min-width: 768px) {    
    div#content {
        margin-right:auto;
        margin-left:auto;
        width: 600px;
    }
    
    div.connect-box, div.lobby-btns {
        width:300px;
    }
    
    div.lobby-btns {
        vertical-align: top;
        margin-top: 37px;
        display:inline-block;
    }
    
    div.users-container {
        width:266px;
        margin-left:30px;
        display:inline-block;
    }
}