<div style="margin:5px 0 0 10px;display:inline-block;vertical-align:top;width:200px;">
	<button class="btn" style="width:200px;margin-top:5px;" id="selectedFrenemy">Play selected frenemy</button>
	<button class="btn" style="width:200px;margin-top:5px;" id="randomFrenemy">Play random frenemy</button>
</div>	
<div style="margin:5px 0 0 5px; width:200px;display:inline-block;">
	<ul class="nav nav-tabs nav-stacked" id="users">
	</ul>
</div>
<div id="usrName"></div>
<script type="text/javascript">

</script>
<script type="text/javascript" src="/js/event/LobbyEvents.js"></script>
<script type="text/javascript" src="/js/controller/LobbyHandler.js"></script>