<div ng-controller="LobbyController" class="lobby-box">
	<div class="lobby-btns">
		<input type="submit" class="btn btn-large" id="selectedFrenemy" value="Play selected frenemy">
		<input type="submit" class="btn btn-large" id="randomFrenemy" value="Play random frenemy">
	</div>
	<div class="users-container">
		<ul class="nav nav-tabs nav-stacked" id="users">
			<li class="nav-header">Users online</li>
			<li><input type="text" placeholder="search" ng-model="search">
			<li ng-repeat="frenemy in frenemies | filter:search | orderBy:frenemy">
				<a>{{frenemy}}</a>
			</li>
		</ul>
	</div>
</div>